extends ../layout

block body
	div(class='card mx-auto' style='position: fixed; top: 50%; right: 50%; transform: translate(50%,-50%); width: 50%')
		div(class='card-body')

			h3(style='text-align: center;') Welcome, #{name}!
			p(style='text-align: center;')
				small Following are students who signed up to visit you on #{weekday}!
					br
					| Signup status for students:
					strong #{' '}#{status}
			hr
			-if(signups.length !== 0)
				div(class='row')
					div(class='col order-1') Pass No.
					div(class='col order-2') Student
					div(class='col order-3') Purpose

				-for(var c = 0; c < signups.length; c++)
					-var signup = signups[c]
					hr
					div(class='row')
						div(class='col order-1')
							i(class='far fa-address-card')
							span #{' '}#{signup.id}
						div(class='col order-2')
							i(class='far fa-check-circle')
							span #{' '}#{signup.studentName}
						div(class='col order-3')
							i(class='far fa-arrow-alt-circle-right')
							span #{' '}#{signup.purpose}
				hr
			-else
				div(class='row')
					p(class='mx-auto') No one signed up yet :(