extends ../layout

block body
	div(class='card mx-auto' style='position: fixed; top: 50%; right: 50%; transform: translate(50%,-50%);')
		div(class='card-body')

			div(class='mx-auto text-center')
				a(href='auth/google')
					img(src='/img/btn_google_signin_dark_normal_web@2x.png' style='height: 60px')

			hr
			//- #{' '} is forcing to add space at the end using JS literals of Pug
			//- !{' '} does the same job, but is not HTML escaped and unsafe. DON'T USE !{} UNLESS YOU COMPLETELY UNDERSTAND WHAT YOU'RE DOING
			div(class='row')
				small(class='mx-auto text-center') 401 Error?#{' '}
					a(href='#' class='link' onclick='alert("Please come back to this page manually after signing in with HCPSS!"); window.location="https://drive.google.com/a/hcpss.org/";') Click Here
			div(class='row')
				small(class='mx-auto')
					| Developed by#{' '}
					a(href='/aboutus') JT Campbell

	script.
		function updateDropdown(type)
		{
			document.getElementById('accType').setAttribute('value', type.toLowerCase());
			document.getElementById('accTypeIndicator').innerText = type;
		}